<a routerLink="/create">Create a post</a><br>
<!-- <button class="btn btn-primary" (click)="getPostFunc()">Get Posts</button> -->
<table class="table">
  <tr>
    <th>Id</th>
    <th>UserId</th>
    <th>Body</th>
    <th>Title</th>
    <th>Details</th>
    <th>Update</th>
  </tr>
  <tr *ngFor="let m of modelArr">
    <td>{{m.id}}</td>
    <td>{{m.userId}}</td>
    <td>{{m.body}}</td>
    <td>{{m.title}}</td>
    <td><a routerLink="details/:id" [queryParams]="{id:m.id}">Details</a></td>
    <td><a routerLink="update/:id" [queryParams]="{id:m.id}">Update</a></td>
  </tr>
</table>
